nav, .nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  .mat-form-field  {
    margin-right: 15px;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  justify-content: space-between;
  align-content: center;
}
