$openPR: #2cbe4e;
$closedPR: #cb2431;
$mergedPR: #6f42c1;
.pr {
  margin-bottom: 15px;
  width: 350px;
  .mat-card-actions {
    text-align: right;
  }
  .state {
    color: #ffffff;
    border-radius: 5px;
    padding: 4px 8px;
    float: right;
    text-transform: capitalize;
    &.open {
      background-color: $openPR
    }
    &.closed {
      background-color: $closedPR;
    }
    &.merged {
      background-color: #6f42c1;
    }
  }
}
